{% extends "Blog/base.html" %}
    {%block content%}
        <article class="media content-section">
            <img  class="rounded-circle article-img" src="{{ object.author.profile.image.url }}">
            <br>
            <div class="media-body">
              <div class="article-metadata" style="float:right;">
                <small>Post deleted</small>
              </div>
                <br>
              <h2 class="article-title">{{ object.title }}</h2>
              <p class="article-content">{{ object.content }}</p>
            </div>
        </article>
    {%endblock content%}