{% extends "Blog/base.html" %}
    {%block content%}
<h1 class="mb-3"> <span class="text-dark" style="text-decoration:underline">{{ view.kwargs.username }}'s</span> Posts  ({{ page_obj.paginator.count }} Posts)</h1>
    {%for post in posts %}  <!--The loops logic from views of Django or any other context is represented by this-->
        <!--For variables, we use double Curly brackets  and for logical statements such as loops or if statements the curly percentage format is used-->
        <article class="media content-section">
            <img  class="rounded-circle article-img" src="{{ post.author.profile.image.url }}">
            <br>
            <div class="media-body">
              <div class="article-metadata" style="float:right;">
                <a class="mr-2" href="{% url 'user-posts' post.author.username  %}">{{ post.author }}</a>
                <small class="text-muted">{{ post.date_posted|date:"F d, Y" }}</small><!--The | is used to define a filter-->
              </div>
                <br>
              <h2><a class="article-title" style="text-decoration:none;" href="{% url 'post-detail' post.id %}">{{ post.title }}</a></h2>
              <p class="article-content">{{ post.content }}</p>
            </div>
          </article>
    {%endfor%}<!--Each Conditional, loop and other possible statement must be closed(ended) in a context relation because scope is not defined in HTML-->
    {% if is_paginated %}
        {% if page_obj.has_previous %}
            <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
        {% endif %}
        {% for num in page_obj.paginator.page_range %}
            {% if page_obj.number == num %}
                 <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
            {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                 <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
            {%endif%}
        {%endfor%}
        {% if page_obj.has_next %}
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
        {% endif %}
    {%endif%}
{%endblock content%}
