{% extends "Blog/base.html" %}
    {% load crispy_forms_tags %}
    {% block content %}
        <div class="content-section">
            <form method="POST">
                {% csrf_token %}<!--Cross Site Request Forgery Token for added security. Mandatory for forms in Django. -->
                <fieldset class="form-group"><!--Generates a Registration for a User Form -->
                    <legend class="border-bottom mb-4">
                        Reset Password
                    </legend>
                    {{ form|crispy }}<!--Context from views Passed -->
                </fieldset>
                <div class="form-group">
                    <button class="btn btn-outline-info" type="submit">Request Password Reset</button><!--SignUP Button-->
                </div>
            </form>
        </div>
    {% endblock content %}
